<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth</title>
</head>
<body>
<h3>Register and Login</h3>
{% include 'logging/intimate.html' %}
<form method="post" action="">
    {% csrf_token %}
    {{form1.as_p}}

    <input type="submit" name="reg" value="Register">
</form>
<form method="post" action="">
    {% csrf_token %}
    <p><label>Username:</label> <input type="text" name="username" maxlength="150" autofocus required> <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></p>
    <p><label>Password:</label> <input type="password" name="password" autocomplete="new-password" required> <span class="helptext">Enter the same password as before, for verification.</span></p>
    <input type="submit" name="li" value="Login">
</form>
</body>
</html>