<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <h1>Registration Page!!!</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        {% if forms.errors %}
        <p>There are errors in the form!</p>
        {% endif %}

        {{ form }}

        <input type="submit" value="Register">
    </form>
</body>
</html>