<!doctype html>
<html lang="en">
  <head>
	{% load static %} 
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	

	<link rel="stylesheet" href="{%static 'fonts\fonts.css' %}">
	<link rel="stylesheet" href="{%static 'fonts\font-awesome-4.7.0\font-awesome-4.7.0\css\font-awesome.min.css] %}" >
	
	<link rel="stylesheet" href="{%static 'css/style.css' %}">

	</head>
	<body>
	
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<img src="{%static 'images/KLUG.png' %}" class="rounded mx-auto d-block" alt="KLUG" style="height: 100px;width: 200px;">
					<br>
					<h2 class="heading-section">LOGBOOK</h2>
				</div>
			</div>
			<center><div class="row justify-content-center">
				<div class="col-12 col-lg-12">
					
						
						
						<div class="login-wrap p-4 p-lg-12">
			      	<div class="d-flex">
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="{%static 'index.html' %}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-home"></span></a>
										<a href="{%static 'Attendence.html' %}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-print"></span></a>
										<a href="{%static 'ChangePWD.html' %}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-cog"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-sign-out"></span></a>
									</p>
								</div>
			      	</div>
							<form action="#" class="signin-form">
			      		<div class="form-group mb-3">
			      			<label class="label">OLD password</label>
			      			<input type="password" class="form-control" placeholder="Enter OLD password" required>
			      		</div>
		            	<div class="form-group mb-3">
		            	<label class="label">NEW password</label>
		              <input type="password" class="form-control" placeholder="Enter NEW password" required>
                      </div>
                      <div class="form-group mb-3">
                      <label class="label">&nbsp&nbsp&nbsp&nbspconfirm password</label>
		              <input type="password" class="form-control" placeholder="Confirm NEW password" required>
		           
                    </div>
		            <div class="form-group">
		            	<input type="submit" class="form-control btn btn-primary submit px-3" value="Change password">
		            </div>
		            
		          </form>
		        
		      </div>
				
			</div>
		</div></center>
	</section>

	<script src="{%static 'js/jquery.min.js' %}"></script>
  <script src="{%static 'js/popper.js' %}"></script>
  <script src="{%static 'js/bootstrap.min.js' %}"></script>
  <script src="{%static 'js/main.js' %}"></script>

	</body>
</html>

