<!doctype html>
<html lang="en">
  <head>
	{% load static %}
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	

	<link href="{%static 'fonts\fonts.css' %}" rel="stylesheet">
	<link href="{%static 'fonts\font-awesome-4.7.0\font-awesome-4.7.0\css\font-awesome.min.css' %}" rel="stylesheet">
	
	<link rel="stylesheet" href="{%static 'css/style.css' %}">

	</head>
	<body>
	
	<section class="ftco-section">
		{% include 'logging/intimate.html' %}
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<img src="{%static 'images/KLUG.png' %}" class="rounded mx-auto d-block" alt="KLUG" style="height: 100px;width: 200px;">
					<br>
					<h2 class="heading-section">LOGBOOK</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						
						
						<div class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex">
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="{% url 'index' %}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-home"></span></a>
										<a href="{% url 'attendence' %}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-print"></span></a>
										<a href="{% url 'changepwd' %}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-cog"></span></a>
										<a href="{% url 'auth_logout' %}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-sign-out"></span></a>
									</p>
								</div>
			      	</div>
					  <div class="media position-relative">
						
						<div class="media-body">
							&emsp;&emsp;&emsp;&emsp;<a href="{% url 'bydate' %}" class="stretched-link" ><img src="{% static 'images/calender.jpeg' %}" class="mr-3" alt="..."></a>
						</div>
					
					  </div>
		        </div>
				<div class="text-wrap p-4 p-lg-5  d-flex align-items-center order-md-last">
					<div class="text w-100">
						
						<form action="" class="signin-form" method="post">
							{% csrf_token %}
							<div class="form-group mb-3">
								
								<label class="label">&nbsp&nbsp&nbsp&nbspID Number</label>
								<input type="number" name="uid" style="background-color:#e6e6e6;" class="form-control" placeholder="Enter ID Number" required>
							</div>
						<input type="submit" style="width: 100%;"  class="btn btn-white btn-outline-white btn-block btn-lg"  value="Check">
					</form>
					
					</div>
					
		  		</div>
		    </div>
			</div>
			</div>
		</div>



  

		<div>
			{% for u in ud %}
			<li>{{u.uid}}, {{u.purpose}}, {{u.date}}, {{u.in_time}}, {{u.out_time}}</li>
			{% endfor %}
		</div>

	</section>

	<script src="{%static 'js/jquery.min.js' %}"></script>
  <script src="{%static 'js/popper.js' %}"></script>
  <script src="{%static 'js/bootstrap.min.js' %}"></script>
  <script src="{%static 'js/main.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
		setTimeout(function(){
			if ($('#msg').length > 0){
				$('#msg').remove();
			}
		}, 2000)
  </script>

	</body>
</html>

