<!doctype html>
<html lang="en">
  <head>
	{% load static %}
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	

	<link rel="stylesheet" href="{%static 'fonts\fonts.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{%static 'fonts\font-awesome-4.7.0\font-awesome-4.7.0\css\font-awesome.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
	
	<link rel="stylesheet" href="{%static 'css/style.css' %}">
	</head>
	<body>
	
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<img src="{%static 'images\KLUG.png' %}" class="rounded mx-auto d-block" alt="KLUG" style="height: 100px;width: 200px;">
					<br>
					<h2 class="heading-section">LOGBOOK</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						
						
						<div class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex">
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="{%static 'index.html' %}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-home"></span></a>
										<a href="{%static 'Attendence.html' %}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-print"></span></a>
										<a href="{%static 'ChangePWD.html' %}" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-cog"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-sign-out"></span></a>
									</p>
								</div>
			      	</div>
							<form action="#" class="signin-form">
			      		<div class="form-group mb-3">
			      			<label class="label">&nbsp&nbsp&nbsp&nbsp<strong><b>ID Number</b></strong></label>
			      			<input type="text" class="form-control" placeholder="Enter ID Number" required>
			      		</div>
		            	<div class="form-group mb-3">
		            	<label class="label">&nbsp&nbsp&nbsp&nbspPurpose</label>
		              <input type="text" class="form-control" placeholder="Enter Purpose" required>
		            </div>
		            <div class="form-group">
		            	<input type="submit" class="form-control btn btn-primary submit px-3" value="Log In">
		            </div>
		            
		          </form>
		        </div>
				<div class="text-wrap p-4 p-lg-5  d-flex align-items-center order-md-last">
							
					<div class="text w-100">
						
						<form action="#" class="signin-form">
							<div class="form-group mb-3">
								
								<label class="label">&nbsp&nbsp&nbsp&nbspID Number</label>
								<input type="text " class="form-control text-white text-outline-white" placeholder="Enter ID Number" required>
							</div>
						<input type="submit" style="background-color:#e6e6e6;" class="form-control" value="log out">
					</form>
						
					</div>
		  </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{%static 'js/jquery.min.js' %}"></script>
  <script src="{%static 'js/popper.js' %}"></script>
  <script src="{%static 'js/bootstrap.min.js' %}"></script>
  <script src="{%static 'js/main.js' %}"></script>

	</body>
</html>

