<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Print</title>
  </head>
  <body>
  {% if userid != None %}
  <h2>Log Report on student {{userid}}</h2>
  <div>
    {% for u in ud %}
      <li>{{u.uid}}, {{u.purpose}}, {{u.date}}, {{u.in_time}}, {{u.out_time}}</li>
    {% endfor %}
  </div>
  {% else %}
  <h2>Log Report during {{fromdate}} to {{todate}}</h2>
  <div>
    {% for u in obj %}
      <li>{{u.uid}}, {{u.purpose}}, {{u.date}}, {{u.in_time}}, {{u.out_time}}</li>
    {% endfor %}
  </div>
  {% endif %}
  </body>
</html>
