<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	

	<link href="{%static 'fonts\fonts.css' %}" rel="stylesheet">
	<link href="{%static 'fonts\font-awesome-4.7.0\font-awesome-4.7.0\css\font-awesome.min.css' %}" rel="stylesheet">
	
	<link rel="stylesheet" href="{%static 'css/style.css' %}">
    
      <title>Print</title>
  </head>
  <body>
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <br><br><img src="{%static 'images/KLUG.png' %}" class="rounded mx-auto d-block" alt="KLUG" style="height: 100px;width: 200px;">
        <br>
        <h2 class="heading-section">LOGBOOK</h2>
      </div>
    </div>
  {% if userid != None %}
  <div class="text-center"><h4 style="color:blue;">Log Report on student {{userid}}</h4></div>
  <div class="container col-sm-4 col-md-8" id="print">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>id</th>
        <th>purpose</th>
        <th>date</th>
      <th>In Time</th>
      <th>Out Time</th>
      </tr>
      </thead>
      <tbody>
      {% for u in ud %}
      <tr>
        <td>{{u.uid}}</td>
        <td>{{u.purpose}}</td>
        <td>{{u.date}}</td>
      <td>{{u.in_time}}</td>
      <td>{{u.out_time}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  </div><br>
  {% else %}
  <div class="text-center"><h4 style="color:blue;">Log Report during {{fromdate}} to {{todate}}</h4>
  <div class="container col-sm-4 col-md-8" id="print">
  <table class="table table-striped">
    <thead class="thead-light">
    <tr>
      <th>id</th>
      <th>purpose</th>
      <th>date</th>
    <th>In Time</th>
    <th>Out Time</th>
    </tr>
    </thead>
    <tbody>
    {% for u in obj %}
    <tr>
      <td>{{u.uid}}</td>
      <td>{{u.purpose}}</td>
      <td>{{u.date}}</td>
    <td>{{u.in_time}}</td>
    <td>{{u.out_time}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div><br>

  <!--<div>
    {% for u in obj %}
      <li>{{u.uid}}, {{u.purpose}}, {{u.date}}, {{u.in_time}}, {{u.out_time}}</li>
    {% endfor %}
  </div>-->
  {% endif %}
<div class="container">
  <center>
  <button class="btn btn-primary btn-md text-white"><a href="{% url 'index' %}" style="color:white;">HOME</a></button>

    <button class="btn btn-primary btn-md text-white" onclick="printDiv('print')">PRINT</button>
    <button class="btn btn-primary btn-md text-white"><a href="{% url 'attendence' %}" style="color:white;">BACK</a></button>
  </center>
  </div>
  <script>
  function printDiv(divName){
   var printContents = document.getElementById(divName).innerHTML;
   var originalContents = document.body.innerHTML;
   document.body.innerHTML = printContents;
   window.print();
   document.body.innerHTML = originalContents;
  }
 </script>
  </body>
</html>
